body {
	background: rgb(63,94,251);
	background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);

	font-size: 20px;
	font-family: verdana;
	color: white;
}

a {
	color: cyan;
}

h1, a {
	font-size: 2em;
}